1. Data Processing

In [ ]:
# 1. ИМПОРТ БИБЛИОТЕК
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

from scipy import stats

from sklearn.impute import SimpleImputer

In [3]:
# Настройки отображения
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

In [4]:
# Загрузка данных
# sales = pd.read_excel('Sales.xlsx', dtype={'OrderDate': str, 'ShipDate': str})
sales = pd.read_excel('Sales.xlsx')
customer = pd.read_excel('Customer.xlsx')
product = pd.read_excel('Product.xlsx')
territories = pd.read_excel('Territories.xlsx')

In [5]:
# Консолидация данных
merged_data = sales.merge(customer, on='CustomerKey', how='left') \
                  .merge(product, on='ProductKey', how='left') \
                  .merge(territories, left_on='SalesTerritoryKey', right_on='SalesTerritoryKey', how='left')

# Проверка
print("Размер объединённого датасета:", merged_data.shape)
print("\nПервые 5 строк:")
print(merged_data.head())

Размер объединённого датасета: (58189, 50)

Первые 5 строк:
   ProductKey  OrderDate   ShipDate  CustomerKey  PromotionKey  \
0         310 2014-01-01 2014-01-08        21768             1
1         346 2014-01-01 2014-01-08        28389             1
2         346 2014-01-01 2014-01-08        25863             1
3         336 2014-01-01 2014-01-08        14501             1
4         346 2014-01-01 2014-01-08        11003             1

   SalesTerritoryKey SalesOrderNumber  SalesOrderLineNumber  OrderQuantity  \
0                  6          SO43697                     1              2
1                  7          SO43698                     1              2
2                  1          SO43699                     1              2
3                  4          SO43700                     1              2
4                  9          SO43701                     1              2

   UnitPrice  TotalProductCost  SalesAmount    TaxAmt FirstName  LastName  \
0  1789.1350         2171.2942    3578.2700  286.2616      Cole    Watson
1  1699.9950         1912.1544    3399.9900  271.9992   Rachael  Martinez
2  1699.9950         1912.1544    3399.9900  271.9992    Sydney    Wright
3   349.5491          413.1463     699.0982   55.9279     Ruben    Prasad
4  1699.9950         1912.1544    3399.9900  271.9992   Christy       Zhu

            FullName   BirthDate MaritalStatus Gender  YearlyIncome  \
0       Watson, Cole  1946-08-22             S      M         70000
1  Martinez, Rachael  1964-12-18             S      F         20000
2     Wright, Sydney  1946-12-03             S      F         40000
3      Prasad, Ruben  1938-05-13             M      M         80000
4       Zhu, Christy  1968-02-15             S      F         70000

   TotalChildren  NumberChildrenAtHome        Education    Occupation  \
0              5                     0        Bachelors    Management
1              3                     3      High School        Manual
2              5                     0      High School  Professional
3              4                     0  Graduate Degree    Management
4              0                     0        Bachelors  Professional

   HouseOwnerFlag  NumberCarsOwned         AddressLine1 DateFirstPurchase  \
0               1                3     601 Asilomar Dr.        2005-07-01
1               0                0   14, avenue du Port        2005-07-01
2               1                3  4193 E. 28th Street        2005-07-01
3               1                2    249 Alexander Pl.        2005-07-01
4               0                1     1825 Village Pl.        2005-07-01

  CommuteDistance   CustomerCity CustomerStateCode      CustomerState  \
0       10+ Miles      Metchosin                BC   British Columbia
1       0-1 Miles         Pantin                93  Seine Saint Denis
2       10+ Miles        Lebanon                OR             Oregon
3       1-2 Miles  Beverly Hills                CA         California
4      5-10 Miles     North Ryde               NSW    New South Wales

  CustomerCountry              ProductName     SubCategory Category  \
0          Canada         Road-150 Red, 62      Road Bikes    Bikes
1          France  Mountain-100 Silver, 44  Mountain Bikes    Bikes
2   United States  Mountain-100 Silver, 44  Mountain Bikes    Bikes
3   United States       Road-650 Black, 62      Road Bikes    Bikes
4       Australia  Mountain-100 Silver, 44  Mountain Bikes    Bikes

   StandardCost   Color  ListPrice  DaysToManufacture ProductLine  \
0     2171.2942     Red  3578.2700                  4        Road
1     1912.1544  Silver  3399.9900                  4    Mountain
2     1912.1544  Silver  3399.9900                  4    Mountain
3      413.1463   Black   699.0982                  4        Road
4     1912.1544  Silver  3399.9900                  4    Mountain

      ModelName                                              Photo  \
0      Road-150  http://www.avising.com/me/LearnPBI/DataSources...
1  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...
2  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...
3      Road-650  http://www.avising.com/me/LearnPBI/DataSources...
4  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...

                                  ProductDescription  StartDate     Region  \
0  This bike is ridden by race winners. Developed... 2005-07-01     Canada
1  Top-of-the-line competition mountain bike. Per... 2005-07-01     France
2  Top-of-the-line competition mountain bike. Per... 2005-07-01  Northwest
3  Value-priced bike with many features of our to... 2005-07-01  Southwest
4  Top-of-the-line competition mountain bike. Per... 2005-07-01  Australia

         Country          Group  \
0         Canada  North America
1         France         Europe
2  United States  North America
3  United States  North America
4      Australia        Pacific

                                         RegionImage  \
0  http://www.avising.com/me/LearnPBI/DataSources...
1  http://www.avising.com/me/LearnPBI/DataSources...
2  http://www.avising.com/me/LearnPBI/DataSources...
3  http://www.avising.com/me/LearnPBI/DataSources...
4  http://www.avising.com/me/LearnPBI/DataSources...

                                         Region Info
0               https://en.wikipedia.org/wiki/Canada
1               https://en.wikipedia.org/wiki/France
2  https://en.wikipedia.org/wiki/Northwestern_Uni...
3  https://en.wikipedia.org/wiki/Southwestern_Uni...
4            https://en.wikipedia.org/wiki/Australia

In [6]:
'''5. Печать информации о очищенных данных'''
print("\nИнформация об очищенных данных:")
print(merged_data.info())

Информация об очищенных данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58189 entries, 0 to 58188
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            58189 non-null  int64
 1   OrderDate             58189 non-null  datetime64[ns]
 2   ShipDate              58189 non-null  datetime64[ns]
 3   CustomerKey           58189 non-null  int64
 4   PromotionKey          58189 non-null  int64
 5   SalesTerritoryKey     58189 non-null  int64
 6   SalesOrderNumber      58189 non-null  object
 7   SalesOrderLineNumber  58189 non-null  int64
 8   OrderQuantity         58189 non-null  int64
 9   UnitPrice             58189 non-null  float64
 10  TotalProductCost      58189 non-null  float64
 11  SalesAmount           58189 non-null  float64
 12  TaxAmt                58189 non-null  float64
 13  FirstName             58189 non-null  object
 14  LastName              58189 non-null  object
 15  FullName              58189 non-null  object
 16  BirthDate             58189 non-null  object
 17  MaritalStatus         58189 non-null  object
 18  Gender                58189 non-null  object
 19  YearlyIncome          58189 non-null  int64
 20  TotalChildren         58189 non-null  int64
 21  NumberChildrenAtHome  58189 non-null  int64
 22  Education             58189 non-null  object
 23  Occupation            58189 non-null  object
 24  HouseOwnerFlag        58189 non-null  int64
 25  NumberCarsOwned       58189 non-null  int64
 26  AddressLine1          58189 non-null  object
 27  DateFirstPurchase     58189 non-null  object
 28  CommuteDistance       58189 non-null  object
 29  CustomerCity          58189 non-null  object
 30  CustomerStateCode     58189 non-null  object
 31  CustomerState         58189 non-null  object
 32  CustomerCountry       58189 non-null  object
 33  ProductName           58189 non-null  object
 34  SubCategory           58189 non-null  object
 35  Category              58189 non-null  object
 36  StandardCost          58189 non-null  float64
 37  Color                 30747 non-null  object
 38  ListPrice             58189 non-null  float64
 39  DaysToManufacture     58189 non-null  int64
 40  ProductLine           58189 non-null  object
 41  ModelName             58189 non-null  object
 42  Photo                 58189 non-null  object
 43  ProductDescription    58189 non-null  object
 44  StartDate             58189 non-null  datetime64[ns]
 45  Region                58189 non-null  object
 46  Country               58189 non-null  object
 47  Group                 58189 non-null  object
 48  RegionImage           58189 non-null  object
 49  Region Info           58189 non-null  object
dtypes: datetime64[ns](3), float64(6), int64(12), object(29)
memory usage: 22.2+ MB
None

In [ ]:
'''6. Сохранение объединенных данных'''
merged_data.to_csv('10_merged_data.csv', index=False)

print("Объеденение данных завершено!")

Очистка данных завершена!

In [8]:
# Дополнительные признаки
merged_data['Profit'] = merged_data['SalesAmount'] - merged_data['TotalProductCost']
merged_data['OrderYear'] = merged_data['OrderDate'].dt.year
merged_data['OrderMonth'] = merged_data['OrderDate'].dt.month

print("Данные успешно загружены и подготовлены.")
print(f"Размер объединённого датасета: {merged_data.shape}")
print("\nПервые 5 строк:")
print(merged_data.head())

Данные успешно загружены и подготовлены.
Размер объединённого датасета: (58189, 53)

Первые 5 строк:
   ProductKey  OrderDate   ShipDate  CustomerKey  PromotionKey  \
0         310 2014-01-01 2014-01-08        21768             1
1         346 2014-01-01 2014-01-08        28389             1
2         346 2014-01-01 2014-01-08        25863             1
3         336 2014-01-01 2014-01-08        14501             1
4         346 2014-01-01 2014-01-08        11003             1

   SalesTerritoryKey SalesOrderNumber  SalesOrderLineNumber  OrderQuantity  \
0                  6          SO43697                     1              2
1                  7          SO43698                     1              2
2                  1          SO43699                     1              2
3                  4          SO43700                     1              2
4                  9          SO43701                     1              2

   UnitPrice  TotalProductCost  SalesAmount    TaxAmt FirstName  LastName  \
0  1789.1350         2171.2942    3578.2700  286.2616      Cole    Watson
1  1699.9950         1912.1544    3399.9900  271.9992   Rachael  Martinez
2  1699.9950         1912.1544    3399.9900  271.9992    Sydney    Wright
3   349.5491          413.1463     699.0982   55.9279     Ruben    Prasad
4  1699.9950         1912.1544    3399.9900  271.9992   Christy       Zhu

            FullName   BirthDate MaritalStatus Gender  YearlyIncome  \
0       Watson, Cole  1946-08-22             S      M         70000
1  Martinez, Rachael  1964-12-18             S      F         20000
2     Wright, Sydney  1946-12-03             S      F         40000
3      Prasad, Ruben  1938-05-13             M      M         80000
4       Zhu, Christy  1968-02-15             S      F         70000

   TotalChildren  NumberChildrenAtHome        Education    Occupation  \
0              5                     0        Bachelors    Management
1              3                     3      High School        Manual
2              5                     0      High School  Professional
3              4                     0  Graduate Degree    Management
4              0                     0        Bachelors  Professional

   HouseOwnerFlag  NumberCarsOwned         AddressLine1 DateFirstPurchase  \
0               1                3     601 Asilomar Dr.        2005-07-01
1               0                0   14, avenue du Port        2005-07-01
2               1                3  4193 E. 28th Street        2005-07-01
3               1                2    249 Alexander Pl.        2005-07-01
4               0                1     1825 Village Pl.        2005-07-01

  CommuteDistance   CustomerCity CustomerStateCode      CustomerState  \
0       10+ Miles      Metchosin                BC   British Columbia
1       0-1 Miles         Pantin                93  Seine Saint Denis
2       10+ Miles        Lebanon                OR             Oregon
3       1-2 Miles  Beverly Hills                CA         California
4      5-10 Miles     North Ryde               NSW    New South Wales

  CustomerCountry              ProductName     SubCategory Category  \
0          Canada         Road-150 Red, 62      Road Bikes    Bikes
1          France  Mountain-100 Silver, 44  Mountain Bikes    Bikes
2   United States  Mountain-100 Silver, 44  Mountain Bikes    Bikes
3   United States       Road-650 Black, 62      Road Bikes    Bikes
4       Australia  Mountain-100 Silver, 44  Mountain Bikes    Bikes

   StandardCost   Color  ListPrice  DaysToManufacture ProductLine  \
0     2171.2942     Red  3578.2700                  4        Road
1     1912.1544  Silver  3399.9900                  4    Mountain
2     1912.1544  Silver  3399.9900                  4    Mountain
3      413.1463   Black   699.0982                  4        Road
4     1912.1544  Silver  3399.9900                  4    Mountain

      ModelName                                              Photo  \
0      Road-150  http://www.avising.com/me/LearnPBI/DataSources...
1  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...
2  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...
3      Road-650  http://www.avising.com/me/LearnPBI/DataSources...
4  Mountain-100  http://www.avising.com/me/LearnPBI/DataSources...

                                  ProductDescription  StartDate     Region  \
0  This bike is ridden by race winners. Developed... 2005-07-01     Canada
1  Top-of-the-line competition mountain bike. Per... 2005-07-01     France
2  Top-of-the-line competition mountain bike. Per... 2005-07-01  Northwest
3  Value-priced bike with many features of our to... 2005-07-01  Southwest
4  Top-of-the-line competition mountain bike. Per... 2005-07-01  Australia

         Country          Group  \
0         Canada  North America
1         France         Europe
2  United States  North America
3  United States  North America
4      Australia        Pacific

                                         RegionImage  \
0  http://www.avising.com/me/LearnPBI/DataSources...
1  http://www.avising.com/me/LearnPBI/DataSources...
2  http://www.avising.com/me/LearnPBI/DataSources...
3  http://www.avising.com/me/LearnPBI/DataSources...
4  http://www.avising.com/me/LearnPBI/DataSources...

                                         Region Info     Profit  OrderYear  \
0               https://en.wikipedia.org/wiki/Canada  1406.9758       2014
1               https://en.wikipedia.org/wiki/France  1487.8356       2014
2  https://en.wikipedia.org/wiki/Northwestern_Uni...  1487.8356       2014
3  https://en.wikipedia.org/wiki/Southwestern_Uni...   285.9519       2014
4            https://en.wikipedia.org/wiki/Australia  1487.8356       2014

   OrderMonth
0           1
1           1
2           1
3           1
4           1

In [22]:
# Удаление столбцов
columns_to_drop = [
    'Photo',
    'ProductDescription',
    'NumberChildrenAtHome',
    'AddressLine1',
    'RegionImage',
    'RegionInfo',
    'CustomerStateCode',
    
    'SalesOrderLineNumber',
    'StandardCost',  # равен TotalProductCost
    'ListPrice',     # равен SalesAmount
    'PromotionKey',
    'CustomerCountry', # равен Country
    'Group'
]

merged_data = merged_data.drop(columns=columns_to_drop, errors='ignore')

In [9]:
'''5. Печать информации о очищенных данных'''
print("\nИнформация об очищенных данных:")
print(merged_data.info())

Информация об очищенных данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58189 entries, 0 to 58188
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            58189 non-null  int64
 1   OrderDate             58189 non-null  datetime64[ns]
 2   ShipDate              58189 non-null  datetime64[ns]
 3   CustomerKey           58189 non-null  int64
 4   PromotionKey          58189 non-null  int64
 5   SalesTerritoryKey     58189 non-null  int64
 6   SalesOrderNumber      58189 non-null  object
 7   SalesOrderLineNumber  58189 non-null  int64
 8   OrderQuantity         58189 non-null  int64
 9   UnitPrice             58189 non-null  float64
 10  TotalProductCost      58189 non-null  float64
 11  SalesAmount           58189 non-null  float64
 12  TaxAmt                58189 non-null  float64
 13  FirstName             58189 non-null  object
 14  LastName              58189 non-null  object
 15  FullName              58189 non-null  object
 16  BirthDate             58189 non-null  object
 17  MaritalStatus         58189 non-null  object
 18  Gender                58189 non-null  object
 19  YearlyIncome          58189 non-null  int64
 20  TotalChildren         58189 non-null  int64
 21  NumberChildrenAtHome  58189 non-null  int64
 22  Education             58189 non-null  object
 23  Occupation            58189 non-null  object
 24  HouseOwnerFlag        58189 non-null  int64
 25  NumberCarsOwned       58189 non-null  int64
 26  AddressLine1          58189 non-null  object
 27  DateFirstPurchase     58189 non-null  object
 28  CommuteDistance       58189 non-null  object
 29  CustomerCity          58189 non-null  object
 30  CustomerStateCode     58189 non-null  object
 31  CustomerState         58189 non-null  object
 32  CustomerCountry       58189 non-null  object
 33  ProductName           58189 non-null  object
 34  SubCategory           58189 non-null  object
 35  Category              58189 non-null  object
 36  StandardCost          58189 non-null  float64
 37  Color                 30747 non-null  object
 38  ListPrice             58189 non-null  float64
 39  DaysToManufacture     58189 non-null  int64
 40  ProductLine           58189 non-null  object
 41  ModelName             58189 non-null  object
 42  Photo                 58189 non-null  object
 43  ProductDescription    58189 non-null  object
 44  StartDate             58189 non-null  datetime64[ns]
 45  Region                58189 non-null  object
 46  Country               58189 non-null  object
 47  Group                 58189 non-null  object
 48  RegionImage           58189 non-null  object
 49  Region Info           58189 non-null  object
 50  Profit                58189 non-null  float64
 51  OrderYear             58189 non-null  int32
 52  OrderMonth            58189 non-null  int32
dtypes: datetime64[ns](3), float64(7), int32(2), int64(12), object(29)
memory usage: 23.1+ MB
None

In [10]:
'''1. Обработка пропусков'''
'''Печатаем количество пропущенных значений в каждом столбце'''
print("\nКоличество пропущенных значений:")
print(merged_data.isnull().sum())
print(merged_data.info())

Количество пропущенных значений:
ProductKey      0
OrderDate       0
ShipDate        0
CustomerKey     0
PromotionKey    0
               ..
RegionImage     0
Region Info     0
Profit          0
OrderYear       0
OrderMonth      0
Length: 53, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58189 entries, 0 to 58188
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            58189 non-null  int64
 1   OrderDate             58189 non-null  datetime64[ns]
 2   ShipDate              58189 non-null  datetime64[ns]
 3   CustomerKey           58189 non-null  int64
 4   PromotionKey          58189 non-null  int64
 5   SalesTerritoryKey     58189 non-null  int64
 6   SalesOrderNumber      58189 non-null  object
 7   SalesOrderLineNumber  58189 non-null  int64
 8   OrderQuantity         58189 non-null  int64
 9   UnitPrice             58189 non-null  float64
 10  TotalProductCost      58189 non-null  float64
 11  SalesAmount           58189 non-null  float64
 12  TaxAmt                58189 non-null  float64
 13  FirstName             58189 non-null  object
 14  LastName              58189 non-null  object
 15  FullName              58189 non-null  object
 16  BirthDate             58189 non-null  object
 17  MaritalStatus         58189 non-null  object
 18  Gender                58189 non-null  object
 19  YearlyIncome          58189 non-null  int64
 20  TotalChildren         58189 non-null  int64
 21  NumberChildrenAtHome  58189 non-null  int64
 22  Education             58189 non-null  object
 23  Occupation            58189 non-null  object
 24  HouseOwnerFlag        58189 non-null  int64
 25  NumberCarsOwned       58189 non-null  int64
 26  AddressLine1          58189 non-null  object
 27  DateFirstPurchase     58189 non-null  object
 28  CommuteDistance       58189 non-null  object
 29  CustomerCity          58189 non-null  object
 30  CustomerStateCode     58189 non-null  object
 31  CustomerState         58189 non-null  object
 32  CustomerCountry       58189 non-null  object
 33  ProductName           58189 non-null  object
 34  SubCategory           58189 non-null  object
 35  Category              58189 non-null  object
 36  StandardCost          58189 non-null  float64
 37  Color                 30747 non-null  object
 38  ListPrice             58189 non-null  float64
 39  DaysToManufacture     58189 non-null  int64
 40  ProductLine           58189 non-null  object
 41  ModelName             58189 non-null  object
 42  Photo                 58189 non-null  object
 43  ProductDescription    58189 non-null  object
 44  StartDate             58189 non-null  datetime64[ns]
 45  Region                58189 non-null  object
 46  Country               58189 non-null  object
 47  Group                 58189 non-null  object
 48  RegionImage           58189 non-null  object
 49  Region Info           58189 non-null  object
 50  Profit                58189 non-null  float64
 51  OrderYear             58189 non-null  int32
 52  OrderMonth            58189 non-null  int32
dtypes: datetime64[ns](3), float64(7), int32(2), int64(12), object(29)
memory usage: 23.1+ MB
None

In [18]:
merged_data.describe()

,ProductKey,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderLineNumber,OrderQuantity,UnitPrice,TotalProductCost,SalesAmount,TaxAmt,YearlyIncome,TotalChildren,NumberChildrenAtHome,HouseOwnerFlag,NumberCarsOwned,StandardCost,ListPrice,DaysToManufacture,Profit,OrderYear,OrderMonth
count,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000,30747.000000
mean,375.993723,18935.941198,1.054770,6.420106,1.832764,1.568966,772.278623,556.188545,939.784938,75.182797,60054.639477,1.751390,1.027677,0.690441,1.438612,556.188545,939.784938,1.978079,383.596394,2015.751716,7.208183
std,133.406062,5400.300747,0.451216,2.956792,1.118726,1.044706,1020.153979,671.454528,1128.609924,90.288795,33323.226088,1.566763,1.549288,0.462319,1.160323,671.454528,1128.609924,1.999912,461.841721,0.574581,3.326419
min,214.000000,11000.000000,1.000000,1.000000,1.000000,1.000000,2.247500,3.362300,8.990000,0.719200,10000.000000,0.000000,0.000000,0.000000,0.000000,3.362300,8.990000,0.000000,2.067700,2014.000000,1.000000
25%,225.000000,14148.500000,1.000000,4.000000,1.000000,1.000000,34.990000,13.086300,34.990000,2.799200,30000.000000,0.000000,0.000000,0.000000,0.000000,13.086300,34.990000,0.000000,21.903700,2016.000000,4.000000
50%,361.000000,18273.000000,1.000000,7.000000,1.000000,1.000000,69.990000,41.572300,69.990000,5.599200,60000.000000,2.000000,0.000000,1.000000,1.000000,41.572300,69.990000,0.000000,43.813700,2016.000000,7.000000
75%,487.000000,23520.000000,1.000000,9.000000,2.000000,2.000000,1192.035000,1117.855900,2071.419600,165.713600,80000.000000,3.000000,2.000000,1.000000,2.000000,1117.855900,2071.419600,4.000000,888.402100,2016.000000,10.000000
max,606.000000,29483.000000,14.000000,10.000000,8.000000,4.000000,3578.270000,2171.294200,3578.270000,286.261600,170000.000000,5.000000,5.000000,1.000000,4.000000,2171.294200,3578.270000,4.000000,1487.835600,2016.000000,12.000000

In [11]:
# Преобразование числовых данных
merged_data['UnitPrice'] = pd.to_numeric(merged_data['UnitPrice'], errors='coerce')
merged_data['TotalProductCost'] = pd.to_numeric(merged_data['TotalProductCost'], errors='coerce')
merged_data['SalesAmount'] = pd.to_numeric(merged_data['SalesAmount'], errors='coerce')
merged_data['TaxAmt'] = pd.to_numeric(merged_data['TaxAmt'], errors='coerce')
merged_data['YearlyIncome'] = pd.to_numeric(merged_data['YearlyIncome'], errors='coerce')

In [17]:
print(merged_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 30747 entries, 0 to 58188
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            30747 non-null  int64
 1   OrderDate             30747 non-null  object
 2   ShipDate              30747 non-null  object
 3   CustomerKey           30747 non-null  int64
 4   PromotionKey          30747 non-null  int64
 5   SalesTerritoryKey     30747 non-null  int64
 6   SalesOrderNumber      30747 non-null  object
 7   SalesOrderLineNumber  30747 non-null  int64
 8   OrderQuantity         30747 non-null  int64
 9   UnitPrice             30747 non-null  float64
 10  TotalProductCost      30747 non-null  float64
 11  SalesAmount           30747 non-null  float64
 12  TaxAmt                30747 non-null  float64
 13  FirstName             30747 non-null  object
 14  LastName              30747 non-null  object
 15  FullName              30747 non-null  object
 16  BirthDate             30747 non-null  object
 17  MaritalStatus         30747 non-null  object
 18  Gender                30747 non-null  object
 19  YearlyIncome          30747 non-null  int64
 20  TotalChildren         30747 non-null  int64
 21  NumberChildrenAtHome  30747 non-null  int64
 22  Education             30747 non-null  object
 23  Occupation            30747 non-null  object
 24  HouseOwnerFlag        30747 non-null  int64
 25  NumberCarsOwned       30747 non-null  int64
 26  AddressLine1          30747 non-null  object
 27  DateFirstPurchase     30747 non-null  object
 28  CommuteDistance       30747 non-null  object
 29  CustomerCity          30747 non-null  object
 30  CustomerStateCode     30747 non-null  object
 31  CustomerState         30747 non-null  object
 32  CustomerCountry       30747 non-null  object
 33  ProductName           30747 non-null  object
 34  SubCategory           30747 non-null  object
 35  Category              30747 non-null  object
 36  StandardCost          30747 non-null  float64
 37  Color                 30747 non-null  object
 38  ListPrice             30747 non-null  float64
 39  DaysToManufacture     30747 non-null  int64
 40  ProductLine           30747 non-null  object
 41  ModelName             30747 non-null  object
 42  Photo                 30747 non-null  object
 43  ProductDescription    30747 non-null  object
 44  StartDate             30747 non-null  object
 45  Region                30747 non-null  object
 46  Country               30747 non-null  object
 47  Group                 30747 non-null  object
 48  RegionImage           30747 non-null  object
 49  Region Info           30747 non-null  object
 50  Profit                30747 non-null  float64
 51  OrderYear             30747 non-null  int32
 52  OrderMonth            30747 non-null  int32
dtypes: float64(7), int32(2), int64(12), object(32)
memory usage: 12.4+ MB
None

In [13]:
'''3. Приведение типов'''
'''Приведение столбца 'OrderDate' к типу datetime'''
# merged_data['OrderDate'] = pd.to_datetime(merged_data['OrderDate'], errors='coerce')
# merged_data['ShipDate'] = pd.to_datetime(merged_data['ShipDate'], errors='coerce')
# merged_data['BirthDate'] = pd.to_datetime(merged_data['BirthDate'], errors='coerce')

date_columns = [col for col in merged_data.columns if 'Date' in col]
for col in date_columns:
    merged_data[col] = pd.to_datetime(merged_data[col], errors='coerce').dt.date

In [14]:
'''5. Печать информации о очищенных данных'''
print("\nИнформация об очищенных данных:")
print(merged_data.info())

Информация об очищенных данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58189 entries, 0 to 58188
Data columns (total 53 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            58189 non-null  int64
 1   OrderDate             58189 non-null  object
 2   ShipDate              58189 non-null  object
 3   CustomerKey           58189 non-null  int64
 4   PromotionKey          58189 non-null  int64
 5   SalesTerritoryKey     58189 non-null  int64
 6   SalesOrderNumber      58189 non-null  object
 7   SalesOrderLineNumber  58189 non-null  int64
 8   OrderQuantity         58189 non-null  int64
 9   UnitPrice             58189 non-null  float64
 10  TotalProductCost      58189 non-null  float64
 11  SalesAmount           58189 non-null  float64
 12  TaxAmt                58189 non-null  float64
 13  FirstName             58189 non-null  object
 14  LastName              58189 non-null  object
 15  FullName              58189 non-null  object
 16  BirthDate             58189 non-null  object
 17  MaritalStatus         58189 non-null  object
 18  Gender                58189 non-null  object
 19  YearlyIncome          58189 non-null  int64
 20  TotalChildren         58189 non-null  int64
 21  NumberChildrenAtHome  58189 non-null  int64
 22  Education             58189 non-null  object
 23  Occupation            58189 non-null  object
 24  HouseOwnerFlag        58189 non-null  int64
 25  NumberCarsOwned       58189 non-null  int64
 26  AddressLine1          58189 non-null  object
 27  DateFirstPurchase     58189 non-null  object
 28  CommuteDistance       58189 non-null  object
 29  CustomerCity          58189 non-null  object
 30  CustomerStateCode     58189 non-null  object
 31  CustomerState         58189 non-null  object
 32  CustomerCountry       58189 non-null  object
 33  ProductName           58189 non-null  object
 34  SubCategory           58189 non-null  object
 35  Category              58189 non-null  object
 36  StandardCost          58189 non-null  float64
 37  Color                 30747 non-null  object
 38  ListPrice             58189 non-null  float64
 39  DaysToManufacture     58189 non-null  int64
 40  ProductLine           58189 non-null  object
 41  ModelName             58189 non-null  object
 42  Photo                 58189 non-null  object
 43  ProductDescription    58189 non-null  object
 44  StartDate             58189 non-null  object
 45  Region                58189 non-null  object
 46  Country               58189 non-null  object
 47  Group                 58189 non-null  object
 48  RegionImage           58189 non-null  object
 49  Region Info           58189 non-null  object
 50  Profit                58189 non-null  float64
 51  OrderYear             58189 non-null  int32
 52  OrderMonth            58189 non-null  int32
dtypes: float64(7), int32(2), int64(12), object(32)
memory usage: 23.1+ MB
None

In [15]:
'''6. Сохранение очищенных данных'''
merged_data.to_csv('11_merged_cleaned_data.csv', index=False)

print("Очистка данных завершена!")

Очистка данных завершена!

In [ ]:
№№№№№№№№№№№№№№№№№ запаска

In [ ]:
# Удаляем строки с любыми пропусками
merged_data.dropna(inplace=True)

In [ ]:
'''6. Сохранение объединенных данных данных'''
merged_data.to_csv('merged_data.csv', index=False)

print("Очистка данных завершена!")

In [ ]:
'''6. Сохранение объединенных данных данных'''
merged_data.to_csv('merged_data.csv', index=False)

print("Очистка данных завершена!")

In [ ]:
'''1. Загрузка данных'''
data = pd.read_csv('merged_sales_data.csv')

In [ ]:
merged_data.to_excel('output_file.xlsx', index=False)

In [ ]:
'''2. Удаление дубликатов'''
duplicates_count = data_cleaned.duplicated().sum()
print(f"\nКоличество дубликатов: {duplicates_count}")
data_cleaned = data_cleaned.drop_duplicates()

In [ ]:
'''Просмотр первых 5 строк'''
print("Исходные данные:")
print(data.head())

In [ ]:
'''1. Удаление строк/столбцов'''
df_dropped_rows = df.dropna()
df_dropped_cols = df.dropna(axis=1)

In [ ]:
'''Удаление строк с пропущенными значениями'''
data_cleaned = data.dropna()

In [ ]:
'''2. Удаление дубликатов'''
duplicates_count = data_cleaned.duplicated().sum()
print(f"\nКоличество дубликатов: {duplicates_count}")
data_cleaned = data_cleaned.drop_duplicates()

In [ ]:
'''2. Заполнение средними значениями'''
mean_imputer = SimpleImputer(strategy='mean')
df_mean_filled = pd.DataFrame(mean_imputer.fit_transform(df), columns=df.columns)

нормализация и преобразование признаков

In [ ]:
df = pd.read_csv('merged_data.csv')

In [ ]:
'''1. Тест Граббса (Grubbs' Test)'''
def grubbs_test(data):
    N = len(data)
    mean = np.mean(data)
    std_dev = np.std(data)
    G = max(abs(data - mean)) / std_dev
    critical_value = stats.t.ppf(1 - 0.05 / (2 * N), N - 2)  # для 5% уровня значимости
    return G, G > critical_value

grubbs_result = grubbs_test(data)
print("Grubbs' Test: G =", grubbs_result[0], "Is outlier?", grubbs_result[1])

In [ ]:
'''2. Тест Диксона (Dixon's Q Test)'''
def dixon_test(data):
    data_sorted = np.sort(data)
    Q_low = (data_sorted[1] - data_sorted[0]) / (data_sorted[-1] - data_sorted[0])
    Q_high = (data_sorted[-1] - data_sorted[-2]) / (data_sorted[-1] - data_sorted[0])
    critical_value = 0.5  # Порог для Q (исходя из таблиц для n = 10)
    return Q_low > critical_value or Q_high > critical_value

dixon_result = dixon_test(data)
print("Dixon's Q Test: Is outlier?", dixon_result)

In [ ]:
'''4. Тест Розенбаума (Rosner's Test)'''
def rosner_test(data, max_outliers=1):
    N = len(data)
    data_sorted = np.sort(data)
    for i in range(max_outliers):
        mean = np.mean(data_sorted)
        std_dev = np.std(data_sorted)
        threshold = mean + (i + 1) * std_dev
        if data_sorted[-(i + 1)] > threshold:
            return True
    return False

rosner_result = rosner_test(data)
print("Rosner's Test: Is outlier?", rosner_result)

In [ ]:
'''5. Тест Тьо-Гентера (Tietjen-Moore Test)'''
def tietjen_moore_test(data):
    N = len(data)
    mean = np.mean(data)
    std_dev = np.std(data)
    z_scores = (data - mean) / std_dev
    return np.any(np.abs(z_scores) > 3)  # Порог Z-значения

tietjen_moore_result = tietjen_moore_test(data)
print("Tietjen-Moore Test: Is outlier?", tietjen_moore_result)

In [ ]:
'''6. Тест Стьюдента (Student's t-test)'''
t_statistic, p_value = stats.ttest_1samp(data, 0)
print("Student's t-test: t-statistic =", t_statistic, ", p-value =", p_value)

In [ ]:
'''7. Тест Спирмена (Spearman's Rank Correlation Coefficient)'''
spearman_corr, spearman_p = stats.spearmanr(data, np.arange(len(data)))
print("Spearman's Test: Correlation =", spearman_corr, ", p-value =", spearman_p)

In [ ]:
'''8. Тест Манна-Уитни (Mann-Whitney U Test)'''
# Для примера создадим два набора данных
data1 = np.array([1, 2, 3, 4, 5])
data2 = np.array([5, 6, 7, 8, 9])
mann_whitney_result = stats.mannwhitneyu(data1, data2)
print("Mann-Whitney U Test: U-statistic =", mann_whitney_result.statistic, ", p-value =", mann_whitney_result.pvalue)

In [ ]:
'''9. Тест Шапиро-Уилка (Shapiro-Wilk Test)'''
shapiro_stat, shapiro_p = stats.shapiro(data)
print("Shapiro-Wilk Test: W-statistic =", shapiro_stat, ", p-value =", shapiro_p)

In [ ]:
'''10. Тест Колмогорова-Смирнова (Kolmogorov-Smirnov Test)'''
ks_stat, ks_p = stats.kstest(data, 'norm', args=(np.mean(data), np.std(data)))
print("Kolmogorov-Smirnov Test: D-statistic =", ks_stat, ", p-value =", ks_p)

In [ ]:
'''3. Критерий Шовене (Chauvenet's Criterion)'''
def chauvenet_test(data):
    N = len(data)
    mean = np.mean(data)
    std_dev = np.std(data)
    d = abs(data - mean) / std_dev
    p_values = 1 / (2 * N * np.exp(0.5 * (d**2)))
    return np.any(p_values < 0.5)

chauvenet_result = chauvenet_test(data)
print("Chauvenet's Criterion: Is outlier?", chauvenet_result)

In [ ]:
# 🧹 ОЧИСТКА И ПРЕОБРАЗОВАНИЕ ДАННЫХ
print("🧹 ОЧИСТКА ДАННЫХ")
print("=" * 50)
df = data
# Сохраняем исходный размер
initial_count = len(df)
print(f"📊 Исходное количество строк: {initial_count}")

# Удаление дубликатов
df = df.drop_duplicates()
duplicates_removed = initial_count - len(df)
print(f"📊 Удалено дубликатов: {duplicates_removed}")

# Анализ пропущенных значений
print("\n📊 АНАЛИЗ ПРОПУЩЕННЫХ ЗНАЧЕНИЙ:")
missing_data = df.isnull().sum()
missing_percent = (missing_data / len(df)) * 100

missing_info = pd.DataFrame({
    'Количество': missing_data,
    'Процент': missing_percent
}).sort_values('Количество', ascending=False)

# Показываем только колонки с пропусками
missing_columns = missing_info[missing_info['Количество'] > 0]
if len(missing_columns) > 0:
    print("Колонки с пропущенными значениями:")
    display(missing_columns)
else:
    print("✅ Пропущенных значений не обнаружено")

# Заполнение пропусков для ключевых колонок
print("\n🔧 ЗАПОЛНЕНИЕ ПРОПУСКОВ:")
if 'Color' in df.columns:
    df['Color'] = df['Color'].fillna('Not Specified')
    print("✅ Color: заполнены пропуски значением 'Not Specified'")

if 'SubCategory' in df.columns:
    df['SubCategory'] = df['SubCategory'].fillna('Unknown')
    df['Category'] = df['Category'].fillna('Unknown')
    print("✅ Category/SubCategory: заполнены пропуски значением 'Unknown'")

# Преобразование типов данных
print("\n🔄 ПРЕОБРАЗОВАНИЕ ТИПОВ ДАННЫХ:")

date_columns = ['OrderDate', 'ShipDate', 'BirthDate', 'DateFirstPurchase', 'StartDate']
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')
        print(f"✅ {col}: преобразована в datetime")

# Преобразование числовых колонок
numeric_columns = ['YearlyIncome', 'TotalChildren', 'NumberChildrenAtHome', 
                  'NumberCarsOwned', 'StandardCost', 'ListPrice', 'DaysToManufacture',
                  'OrderQuantity', 'UnitPrice', 'TotalProductCost', 'SalesAmount', 'TaxAmt']

for col in numeric_columns:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        print(f"✅ {col}: преобразована в числовой формат")

# Создание новых признаков
print("\n🎯 СОЗДАНИЕ НОВЫХ ПРИЗНАКОВ:")

if 'OrderDate' in df.columns:
    df['OrderYear'] = df['OrderDate'].dt.year
    df['OrderMonth'] = df['OrderDate'].dt.month
    df['OrderQuarter'] = df['OrderDate'].dt.quarter
    df['OrderDayOfWeek'] = df['OrderDate'].dt.day_name()
    print("✅ Созданы временные признаки из OrderDate")
    
    # Расчет времени доставки
    if 'ShipDate' in df.columns:
        df['DeliveryDays'] = (df['ShipDate'] - df['OrderDate']).dt.days
        print("✅ Создан признак DeliveryDays")

# Создание демографических сегментов
if 'YearlyIncome' in df.columns:
    df['IncomeSegment'] = pd.cut(df['YearlyIncome'], 
                               bins=[0, 50000, 80000, 100000, float('inf')],
                               labels=['Low', 'Medium', 'High', 'Very High'])
    print("✅ Создан IncomeSegment")

# Расчет возраста клиента
if 'BirthDate' in df.columns:
    df['Age'] = (datetime.now() - df['BirthDate']).dt.days // 365
    print("✅ Создан признак Age")

# Расчет прибыльности
if 'SalesAmount' in df.columns and 'TotalProductCost' in df.columns:
    df['Profit'] = df['SalesAmount'] - df['TotalProductCost']
    df['ProfitMargin'] = (df['Profit'] / df['SalesAmount']) * 100
    print("✅ Созданы Profit и ProfitMargin")

# Расчет общей суммы, если нет
if 'UnitPrice' in df.columns and 'OrderQuantity' in df.columns and 'TotalAmount' not in df.columns:
    df['TotalAmount'] = df['UnitPrice'] * df['OrderQuantity']
    print("✅ Создан TotalAmount")

print(f"\n📊 РЕЗУЛЬТАТ ОЧИСТКИ:")
print(f"   • Исходный размер: {initial_count} строк")
print(f"   • Финальный размер: {len(df)} строк") 
print(f"   • Удалено дубликатов: {duplicates_removed}")
print(f"   • Количество колонок: {len(df.columns)}")

print("\n👀 ПРЕВЬЮ ОЧИЩЕННЫХ ДАННЫХ:")
display(df.head(3))

print("\n📋 ИНФОРМАЦИЯ О ДАННЫХ ПОСЛЕ ОЧИСТКИ:")
print(df.info())

print("\n✅ ДАННЫЕ ОЧИЩЕНЫ И ПРЕОБРАЗОВАНЫ!")
'''6. Сохранение очищенных данных'''
data_cleaned.to_csv('cleaned_data.csv', index=False)

print("Очистка данных завершена!")

In [ ]:
# 🔍 ИССЛЕДОВАТЕЛЬСКИЙ АНАЛИЗ ДАННЫХ
print("🔍 ИССЛЕДОВАТЕЛЬСКИЙ АНАЛИЗ ДАННЫХ")
print("=" * 50)

# Базовая статистика числовых колонок
numeric_cols = df.select_dtypes(include=[np.number]).columns
print("📈 ОСНОВНАЯ СТАТИСТИКА (числовые колонки):")
print(f"📊 Найдено числовых колонок: {len(numeric_cols)}")

if len(numeric_cols) > 0:
    display(df[numeric_cols].describe())
else:
    print("❌ Числовые колонки не найдены")

# Анализ категориальных переменных
categorical_cols = df.select_dtypes(include=['object']).columns
print(f"\n📊 КАТЕГОРИАЛЬНЫЕ ПЕРЕМЕННЫЕ ({len(categorical_cols)}):")

if len(categorical_cols) > 0:
    for i, col in enumerate(categorical_cols[:8], 1):  # Показываем первые 8
        unique_count = df[col].nunique()
        print(f"   {i}. {col}: {unique_count} уникальных значений")
        if unique_count <= 10:
            value_counts = df[col].value_counts()
            print(f"      Распределение: {dict(value_counts)}")
        else:
            print(f"      Первые 5 значений: {list(df[col].unique()[:5])}")
    
    if len(categorical_cols) > 8:
        print(f"   ... и еще {len(categorical_cols) - 8} категориальных колонок")
else:
    print("❌ Категориальные колонки не найдены")

# Анализ временных колонок
date_cols = df.select_dtypes(include=['datetime64']).columns
print(f"\n🕐 ВРЕМЕННЫЕ ПЕРЕМЕННЫЕ ({len(date_cols)}):")

if len(date_cols) > 0:
    for i, col in enumerate(date_cols, 1):
        date_range = f"{df[col].min().date()} - {df[col].max().date()}"
        print(f"   {i}. {col}: {date_range}")
else:
    print("❌ Временные колонки не найдены")

# Общая информация о данных
print(f"\n📋 ОБЩАЯ ИНФОРМАЦИЯ О ДАННЫХ:")
print(f"   • Размер данных: {df.shape[0]} строк, {df.shape[1]} колонок")
print(f"   • Типы данных:")
print(f"      - Числовые: {len(numeric_cols)}")
print(f"      - Категориальные: {len(categorical_cols)}")
print(f"      - Временные: {len(date_cols)}")
print(f"      - Другие: {df.shape[1] - len(numeric_cols) - len(categorical_cols) - len(date_cols)}")

# Пропущенные значения
missing_total = df.isnull().sum().sum()
missing_percent = (missing_total / (df.shape[0] * df.shape[1])) * 100
print(f"   • Пропущенные значения: {missing_total} ({missing_percent:.2f}%)")

print("\n👀 ПЕРВЫЕ 3 СТРОКИ ДАННЫХ:")
display(df.head(3))

print("✅ ИССЛЕДОВАТЕЛЬСКИЙ АНАЛИЗ ЗАВЕРШЕН!")